doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
    title Document
  body
    .header
      form(action="/" method='post')
        input(type="text" name="text")
        input(type="submit", value="add todo")
        a(href="/todos") show todos 
    block content 
