extends layout 

block content
  .edit-todo
    form(action=`/todos/${todo.id}` method ="POST" class='edit')
      input(type="text" name='text' value=`${todo.text}`)
      button(type="submit") edit
       
