* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  background: #171823;
}

.header {
  position: relative;
  background: url("./imeges/bg-desktop-light.jpg") no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  color: #fff;
  letter-spacing: 1rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.header form {
  color: #fff;
  width: 600px;
}

form input {
  padding: 0.7em;
  margin-bottom: 2rem;
  margin-right: 3rem;
  font-size: 1.4rem;
  border: none;
}

form input[type="text"] {
  width: 80%;
}

form a {
  position: absolute;
  top: 2rem;
  right: 1rem;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.7em;
  background: teal;
}

.todos-list {
  width: 100%;
  font-size: 2rem;
  margin-top: 4rem;
}

ul {
  width: 80%;
  list-style: none;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;

  gap: 1rem;
}

ul li {
  padding: 2rem;
  width: 100%;
  border: 1px solid #333;
  border-radius: 6px;

  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

ul li a {
  font-size: 1.7rem;
  color: green;
  font-style: italic;
  padding: 0.4em;
}

.edit-todo {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 30%;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.edit-todo form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-todo input {
  margin: 0;
}

.edit-todo button {
  padding: 1rem 1.3rem;
}
